@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/agrandir');
@import 'tailwindcss';

@theme {
	--font-heading: 'Agrandir', sans-serif;
	--font-descriptive: 'Montserrat', sans-serif;
}

:root {
	--snow-white: #f8fafc;
}

body {
	font-family: var(--font-descriptive);
	background-color: var(--snow-white);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
